{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('update_steering_wheel') }}" method=post class=add-entry>
      <dl>
        <dt>New Steering Wheel Angle:
        <dd><input type=text size=30 name=angle>
       <dd><input type=submit value=Update>
      </dl>
    </form>
      <form action="{{ url_for('update_accelerator') }}" method=post class=add-entry>
      <dl>
        <dt>New Accelerator Pedal Position:
        <dd><input type=text size=30 name=accelerator>
       <dd><input type=submit value=Update>
      </dl>
    </form>
      {% if session.updates_paused %}
      <form action="{{ url_for('single') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value="Single Update">
      </dl>
      </form>
      <form action="{{ url_for('start') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value=Resume>
      </dl>
      </form>
       {% else %}
         <form action="{{ url_for('stop') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value=Pause>
      </dl>
      </form>
      {% endif %}
{% endblock %}
