{% extends "layout.html" %}
{% block body %}

Vehicle Controls:
    <form id="accelerator_form">
        <label for="accelerator">Accelerator Pedal Percentage:</label>
        <input type="number" name="accelerator"
            id="accelerator" min="0.0" max="100.0" step="1.0" value="0"/>
    </form>

    <form id="steering_wheel_form">
        <label for="steering_wheel">Steering Wheel Angle:</label>
        <input type="number" name="steering_wheel"
            id="steering_wheel" min="-600" max="600" step="1.0" value="0"/>
    </form>

     {% if session.updates_paused %}
      <form action="{{ url_for('single') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value="Single Update">
      </dl>
      </form>
      <form action="{{ url_for('start') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value=Resume>
      </dl>
      </form>
       {% else %}
         <form action="{{ url_for('stop') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value=Pause>
      </dl>
      </form>
      <table>Vehicle Dynamics Data:
        <tr><td>Vehicle Speed: </td><td id="vehicle_speed"></td><td>kph</td></tr>
     </table>

      {% endif %}

{% endblock %}
